<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Yess-consulting</span>
    <span class="example-spacer"></span>
    <button routerLinkActive="actif" routerLink="/rebrique" mat-raised-button>
      Rebrique
    </button>
    <button routerLinkActive="actif" routerLink="/assiette" mat-raised-button>
      Assiette
    </button>
  <button routerLinkActive="actif" routerLink="/historique" mat-raised-button>
    Historique
  </button>
  </mat-toolbar>
</p>
